#bbc {
    color: hotpink;
    border: dodgerblue;
    border-style: double;
}

submit a { color: white; background-color: #5A827F; padding: 5px 11px; border: 2px solid #5a827f;}
.submit a:hover { border: 2px solid white; }